<div class="mt-4">
  <h3>
    Dang khoa hoc
  </h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Ten khoa hoc</label>
      <input type="text" id="name" name="name" />

    </div>
    <div class="mb-3">
      <label for="des" class="form-label">Mo ta khoa hoc</label>
      <input type="text" id="des" name="des" />

    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">video</label>
      <input type="text" id="videoId" name="videoId" />

    </div>
    <div class="mb-3">
      <label for="level" class="form-label">trinh do</label>
      <input type="text" id="level" name="Trinh do" />

    </div>

    <button type="submit" class="btn btn-primary">Them khoa hoc</button>
  </form>
</div>